<%= layout('/layouts/boilerplate') %>
    <h1 class="text-center">Add a new team</h1>
    <div class="col-6 offset-3">
        <form action="/teams" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Team title:</label>
                <input class="form-control" type="text" name="team[title]" id="title">
            </div>
            <div class="mb-3">
                <label class="form-label" for="country">Team country:</label>
                <input class="form-control" type="text" name="team[country]" id="country">
            </div>
            <div class="mb-3">
                <label class="form-label" for="crest">Team crest:</label>
                <input class="form-control" type="text" name="team[crest]" id="crest">
            </div>
            <div class="mb-3">
                <label class="form-label" for="year">Year founded:</label>
                <input class="form-control" type="number" name="team[year]" id="year">
            </div>
            <div class="mb-3">
                <label class="form-label" for="cl">Number of champions league:</label>
                <input class="form-control" type="number" name="team[championsLeague]" id="cl">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
        <footer>
            <a href="/teams">Return to all teams</a>
        </footer>
    </div>